header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	.title {
		font-size: 3em;
		font-weight: bold;
		text-decoration: none;
	}

	img {
		width: 30vw;
		max-width: 200px;
	}
}