body {
	color: $neutral;
	font-family: 'Recursive', Arial, sans-serif;
	font-size: 16px;
	font-variation-settings: "MONO" 0, "CASL" 0, "ital" 0.796;
	
}

h1, h2, h3, h4, h5 {
	font-variation-settings: "ital" 0.71, "CASL" 1, "MONO" 1;
}