$primary: #73461C;
$secondary: #FFD8B1;
$highlight: #C27F79;
$neutral: #2D1B0B;

@font-face {
	font-family: 'Recursive';
	src: url('../fonts/recursive-MONO_CASL_wght_slnt_ital--full_gsub--2019_12_21-21_07.ttf') format('truetype');
}