<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Quokkabot</title>
		<link rel="stylesheet" href="./css/main.css">
	</head>

	<body>
		<h1>Quokkabot</h1>

		<section class="section-1">
			<h2>What is Quokkabot?</h2>
		</section>

		<section class="section-2">
			<h2>What are Quokkas?</h2>
		</section>

		<section class="section-3">
			<h2>But why?</h2>
		</section>

		<section class="section-4">
			<h2>How does it work?</h2>
		</section>

		<section class="section-5">
			<h3>Twilio APIs</h3>
		</section>

		<section class="section-6">
			<h3>Azure Functions</h3>
		</section>

		<section class="section-7">
			<h3>Azure Cognitive Services Custom Vision</h3>
		</section>

		<section class="section-8">
			<h3>Twilio Sync</h3>
		</section>

		<section class="section-9">
			<h2>How is it built?</h2>
		</section>

		<section class="section-10">
			<h2>How can I use it?</h2>
		</section>

	</body>

</html>