<style lang="scss">
	footer {
		p {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.logo {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		display: inline-block;
		font-size: 0;
		color: transparent;
		height: 30px;
		margin: 0 20px;
		width: 30px;
	}

	.twilio {
		background-image: url('/img/twilio.svg')
	}

	.a-func {
		background-image: url('/img/azure-functions.svg');
	}

	.custom-vision {
		background-image: url('/img/custom-vision.svg');
	}
</style>

<footer>
	<p>Built with <a href="https://www.twilio.com/" target="_blank" class="twilio logo">Twilio</a>, <a href="https://azure.microsoft.com/en-us/services/functions/" target="_blank" class="a-func logo">Azure
			Functions</a> and
		<a href="https://www.customvision.ai/" class="custom-vision logo" target="_blank">Custom Vision</a>
	</p>
	<p>No Quokkas were harmed in the building of this project</p>
</footer>