<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="theme-color" content="#610023"/>
		<link rel="stylesheet" href="/css/main.css"/>
		<link rel="shortcut icon" href="/img/amy-quokka-transparent.png"/>

		{% if description is defined and description | length %}
		{% else %}
			{% set description = "A Quokka identifying bot, running on Azure Functions, using the Twilio WhatsApp and Sendgrid APIs, and Microsoft Cognitive Services Custom Vision" %}
		{% endif %}

		{% set metatitle = [pagetitle, env.site] | join(' | ') %}

		{# Meta Info #}
		<title>{{metatitle}}</title>
		<meta name="description" content="{{description}}"/>

		{# OG Social #}
		<meta property="og:title" content="{{metatitle}}"/>
		<meta property="og:description" content="{{description}}">
		<meta property="og:image" content="{{featured if featured else '/img/rottnest-lighthouse-2500.jpg'}}"/>
		<meta name="author" content="amy kapernick"/>
		<meta property="og:url" content={% posturl env.url, title %}/>

		{# Twitter #}
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@amys_kapers"/>
		<meta name="twitter:creator" content="@amys_kapers"/>

		{% block head %}{% endblock %}
	</head>

	<body>
		{% include 'partials/header.html' %}

		{% block content %}{% endblock %}

		{% include 'partials/footer.html' %}

	</body>

</html>