<style lang="scss">
	header {
		display: flex;
		justify-content: space-around;
		align-items: center;



		img {
			width: 30vw;
			max-width: 200px;
			margin: 0;
		}
	}

	.title {
		font-size: 3em;
		font-weight: bold;
		text-decoration: none;
	}
</style>

<header>
	<a href="/" class="title">Quokkabot</a>
	<img src="/img/amy-quokka-transparent.png" />
</header>