pre {
	position: relative;
	margin: 0.5em 0;
	padding: 1em 2em;
	overflow: auto;
	border: 2px solid #191919;
	border-radius: 0.3em;
	background: #191919;

	&[class*='bash'] {
		padding: 0.5em 1em;
	}

	&[class*='language'] {
		&:before {
			position: absolute;
			top: 0;
			right: 20px;
			padding: 5px 10px;
			border-radius: 0 0 10px 10px;
			background: var.$colours_highlight;
			color: var.$colours_neutral;
		}
	}

	&[class*='html'] {
		&:before {
			content: 'HTML';
		}
	}

	&[class*='css'] {
		&:before {
			content: 'CSS';
		}
	}

	&[class*='scss'] {
		&:before {
			content: 'SCSS';
		}
	}

	&[class*='javascript'] {
		&:before {
			content: 'JS';
		}
	}
}

pre,
code {
	color: var.$colours_secondary;
	font-family: 'Source Code Pro', 'Anonymous Pro', monospace;
	font-size: 0.9em;
	line-height: 1.5;
	text-align: left;
	hyphens: none;
	tab-size: 4;

	&.line-numbers {
		padding: 0;
		padding-left: 2.8em;
		overflow: initial;
	}

	&::selection,
	&::mozselection {
		background: #6ca7d8;
	}

	&>code[class*='language-'] {
		position: relative;
		z-index: 1;
	}
}

:not(pre) {
	&>code {
		padding: 0.1em 0.3em;
		border-radius: 0.3em;
		background: var.$colours_secondary;
		color: #191919;
		font-size: 0.8em;
	}
}

pre {
	&[data-line] {
		position: relative;
	}

	&.line-numbers {
		position: relative;
		padding-left: 3.8em;
		counter-reset: linenumber;

		&>code {
			position: relative;
		}
	}
}

.line-numbers {
	padding-left: 2.8em;

	.line-numbers-rows {
		position: absolute;
		top: 0;
		left: -3.8em;
		width: 3em;
		border-right: 1px solid #999999;
		font-size: 100%;

		/* works for line-numbers below 1000 lines */
		letter-spacing: -1px;
		pointer-events: none;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		>span {
			display: block;
			counter-increment: linenumber;
			pointer-events: none;

			&:before {
				content: counter(linenumber);
				display: block;
				padding-right: 0.8em;
				color: #999999;
				text-align: right;
			}
		}
	}
}

.line-highlight {
	position: absolute;
	z-index: 0;
	right: 0;
	left: 0;
	margin-top: 1em;
	padding: inherit 0;
	background: #edf3f7;
	box-shadow: inset 5px 0 0 #1c75bc;
	line-height: inherit;
	white-space: pre;
	pointer-events: none;
}

.namespace {
	opacity: 0.7;
}

.token {
	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: #93a1a1;
	}

	&.punctuation {
		color: #999999;
	}

	&.property,
	&.tag,
	&.boolean,
	&.number,
	&.constant,
	&.symbol,
	&.deleted {
		color: #990055;
	}

	&.selector,
	&.attr-name,
	&.string,
	&.char,
	&.builtin,
	&.inserted {
		color: #669900;
	}

	&.operator,
	&.entity,
	&.url {
		color: #a67f59;
	}

	&.atrule,
	&.attr-value,
	&.keyword {
		color: #1c75bc;
	}

	&.function {
		color: #dd4a68;
	}

	&.regex,
	&.important,
	&.variable {
		color: #ee9900;
	}

	&.entity {
		cursor: help;
	}
}

.language-css,
.style {
	&.string {
		color: #a67f59;
	}
}

.command-line-prompt {
	display: block;
	margin-right: 1em;
	float: left;
	border-right: 1px solid #999999;
	font-size: 100%;
	letter-spacing: -1px;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&>span {
		&:before {
			content: ' ';
			display: block;
			padding-right: 0.8em;
			color: #999999;
		}

		&[data-user] {
			&:before {
				content: '[' attr(data-user) '@' attr(data-host) '] $';
			}
		}

		&[data-user='root'] {
			&:before {
				content: '[' attr(data-user) '@' attr(data-host) '] #';
			}
		}

		&[data-prompt] {
			&:before {
				content: attr(data-prompt);
			}
		}
	}
}
