body {
	color: var.$colours_neutral;
	font-family: 'Recursive', Arial, sans-serif;
	font-size: 18px;
	font-variation-settings: 'MONO' 0, 'CASL' 0, 'ital' 0.796;
}

h1,
h2,
h3,
h4,
h5 {
	font-variation-settings: 'ital' 0.71, 'CASL' 1, 'MONO' 1;
}

h1 {
	color: var.$colours_primary;
	font-size: 2em;
}

h2,
h3 {
	color: var.$colours_primary;
}

a {
	color: var.$colours_primary;

	&:hover,
	&:focus {
		background: var.$colours_secondary;
		text-decoration: none;
	}
}
