---
permalink: "/posts/{% slug title %}/"
---
{% set pagetitle = title %}
{% set description = description %}
{% extends 'partials/layout.njk' %}

{% block head %}
	<meta rel="canonical" href="https://amyskapers.dev/{% slug title %}"/>
{% endblock %}

{% block content %}

	<main class="main">
		<article class="article-content article content">
			<header>
				<h1>{{title}}</h1>
			</header>
			<div>
				{{content | safe}}
			</div>
		</article>
	</main>

{% endblock %}